<!--- Title for grade surveys/tests --->
<div fxLayout="column" fxLayoutAlign="center">
  <h1 id="title">Take Tests/Surveys</h1>
  <div style = "width: 500px;">
    <mat-grid-list
      cols="3"
      style="
        font-size: large;
        margin-bottom: -50px;
        width: 100%;
        text-align: center;
      "
    >
      <mat-grid-tile style="margin-left:-40px">Name</mat-grid-tile>
      <mat-grid-tile style="margin-left:-25px">Owner</mat-grid-tile>
      <mat-grid-tile style="margin-left:-20px">Type</mat-grid-tile>
    </mat-grid-list>

    <div
      *ngFor="let singleForm of otherFormsArray"
      cols="3"
      class="tests-layout-custom"
    >
      <div fxLayout="row">
        <mat-card style="margin: 10px; width: 100%; padding: 10px">
          <mat-card-content fxLayout="row" fxLayoutAlign="space-between">
            <p style="width: 3vw; text-align: center">{{ singleForm.testTitle }}</p>
            <p style="width: 3vw; text-align: center">{{ singleForm.creatorName }}</p>
            <p style="width: 3vw; text-align: center">
              {{ singleForm.formTypeSelection }}
            </p>
          </mat-card-content>
        </mat-card>
        <button
          routerLink="./{{ singleForm.docId }}"
          mat-raised-button
          color="primary"
          style="height: 40px; width: 10%; align-self: center"
        >
          Take
        </button>
      </div>
    </div>
  </div>
</div>
