mat-radio-button{
    margin-right: 12px;
    margin-bottom: 6px;
  }

  //creates a g rid layout for ranking 
  .grid-layout-rank{
    width: 15vw;
    height: 0vh;
  }

  //creates a g rid layout for matching
  .grid-layout-match{
    width: 25vw;
    height: 0vh;
  }

  h3{
    text-align: center;
  }
  
  #title {
    color: #47525E;
    font-size: 300%;
    text-align: center;
  }
