mat-radio-button{
    margin-right: 12px;
    margin-bottom: 6px;
  }

  //creates a g rid layout for ranking 
  .grid-layout-rank{
    width: 10vw;
    height: 0vh;
  }

  //creates a g rid layout for matching
  .grid-layout-match{
    width: 25vw;
    height: 0vh;
  }