<!--- Creates the form for the test/survey --->
<form
  [formGroup]="formTaking"
  *ngIf="!success && formTaking"
  fxLayout="column"
  fxLayoutAlign="center"
  id="padding"
>
  <!--- This field prints the test name --->
  <mat-label>{{ formTaking.value.testTitle }}</mat-label>

  <!--- This field saves the test taker name --->
  <mat-form-field>
    <input matInput placeholder="Enter your Name" formControlName="takerName" />

    <mat-error *ngIf="takerName.pristine"> Please Enter your Name </mat-error>
  </mat-form-field>

  <!--- This function counts and displays the number of questions --->
  <div formArrayName="questions">
    <div
      *ngFor="let question of questionForms.controls; let i = index"
      [formGroupName]="i"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <mat-card style="width: 110%; padding: 20px">
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <mat-card-content>
            <h3 class="mat-headline">Question #{{ i + 1 }}</h3>
          </mat-card-content>

          <!--- This field displays the types of questions --->
          <mat-card-title>{{ question.value.questionTitle }}</mat-card-title>

          <div *ngIf="question.value.questionType === 'mc'">
            <mat-card-subtitle> Multiple Choice </mat-card-subtitle>
            <mat-radio-group
              class="example-radio-group"
              aria-label="mcchoices"
              formControlName="submittedAnswer"
              fxLayout="column"
            >
              <mat-radio-button
                class="example-radio-button"
                color="primary"
                value="mc1"
              >
                <mat-label>{{ question.value.mcoption1 }}</mat-label>
              </mat-radio-button>
              <mat-radio-button
                class="example-radio-button"
                color="primary"
                value="mc2"
              >
                <mat-label>{{ question.value.mcoption2 }}</mat-label>
              </mat-radio-button>
              <mat-radio-button
                class="example-radio-button"
                color="primary"
                value="mc3"
              >
                <mat-label>{{ question.value.mcoption3 }}</mat-label>
              </mat-radio-button>
              <mat-radio-button
                class="example-radio-button"
                color="primary"
                value="mc4"
              >
                <mat-label>{{ question.value.mcoption4 }}</mat-label>
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="question.value.questionType === 'sa'">
            <mat-card-subtitle> Short Answer </mat-card-subtitle>
            <mat-form-field>
              <input
                matInput
                placeholder="Your Answer"
                formControlName="submittedAnswer"
              />
            </mat-form-field>
            {{ tobegrade() }}
          </div>

          <div *ngIf="question.value.questionType === 'ea'" class="essay">
            <mat-card-subtitle> Essay Answer </mat-card-subtitle>
            <mat-form-field [style.width.px] = 400>
              <input
                matInput
                placeholder ="Your Answer" 
                formControlName="submittedAnswer"
              />
            </mat-form-field>
            {{ tobegrade() }}
          </div>

          <div *ngIf="question.value.questionType === 'mmc'">
            <mat-card-subtitle> Checkbox Question </mat-card-subtitle>
            <mat-selection-list formControlName="submittedAnswer">
              <mat-list-option color="primary" value="mmc1">
                <mat-label>{{ question.value.mcoption1 }}</mat-label>
              </mat-list-option>
              <mat-list-option color="primary" value="mmc2">
                <mat-label>{{ question.value.mcoption2 }}</mat-label>
              </mat-list-option>
              <mat-list-option color="primary" value="mmc3">
                <mat-label>{{ question.value.mcoption3 }}</mat-label>
              </mat-list-option>
              <mat-list-option color="primary" value="mmc4">
                <mat-label>{{ question.value.mcoption4 }}</mat-label>
              </mat-list-option>
            </mat-selection-list>
          </div>

          <div *ngIf="question.value.questionType === 'tf'">
            <mat-card-subtitle> True or False </mat-card-subtitle>
            <mat-radio-group
              aria-label="True or False"
              formControlName="submittedAnswer"
            >
              <mat-radio-button color="primary" value="True">
                True
              </mat-radio-button>
              <mat-radio-button color="primary" value="False">
                False
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="question.value.questionType === 'ra'">
            <mat-card-subtitle> Ranking </mat-card-subtitle>
            <mat-grid-list cols="2" rowHeight="2:1" class="grid-layout-rank">
              <mat-grid-tile
                ><input
                  matInput
                  placeholder="Rank #"
                  formControlName="submittedRankAnswer1"
              /></mat-grid-tile>
              <mat-grid-tile>{{ question.value.rankAnswer1 }}</mat-grid-tile>
              <mat-grid-tile
                ><input
                  matInput
                  placeholder="Rank #"
                  formControlName="submittedRankAnswer2"
              /></mat-grid-tile>
              <mat-grid-tile>{{ question.value.rankAnswer2 }}</mat-grid-tile>
              <mat-grid-tile
                ><input
                  matInput
                  placeholder="Rank #"
                  formControlName="submittedRankAnswer3"
              /></mat-grid-tile>
              <mat-grid-tile>{{ question.value.rankAnswer3 }}</mat-grid-tile>
              <mat-grid-tile
                ><input
                  matInput
                  placeholder="Rank #"
                  formControlName="submittedRankAnswer4"
              /></mat-grid-tile>
              <mat-grid-tile>{{ question.value.rankAnswer4 }}</mat-grid-tile>
              <mat-grid-tile
                ><input
                  matInput
                  placeholder="Rank #"
                  formControlName="submittedRankAnswer5"
              /></mat-grid-tile>
              <mat-grid-tile>{{ question.value.rankAnswer5 }}</mat-grid-tile>
            </mat-grid-list>
          </div>

          <div class="row" *ngIf="question.value.questionType === 'ma'">
            <mat-card-subtitle> Matching Question </mat-card-subtitle>
            <mat-card-content>
              Items to match: 
              {{ question.value.rightanswer1 }},
              {{ question.value.rightanswer2 }}
            </mat-card-content>

            <mat-grid-list cols="2" rowHeight="2:1" class="grid-layout-match">
              <mat-grid-tile
                > {{ question.value.leftanswer1 }} </mat-grid-tile>
              <mat-grid-tile
                ><input
                  matInput
                  placeholder="Matching Answer 1 Right"
                  formControlName="submittedRightanswer1"
              /></mat-grid-tile>
              <mat-grid-tile
                > {{ question.value.leftanswer2 }} </mat-grid-tile>
              <mat-grid-tile
                ><input
                  matInput
                  placeholder="Matching Answer 2 Right"
                  formControlName="submittedRightanswer2"
              /></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </mat-card>
      <br />
    </div>
  </div>

  <!--- Display buttons to add questions and to submit --->
  <br />

  <br />
  <button
    mat-raised-button
    type="submit"
    (click)="submitHandler()"
    (click)='score()'
    [disabled]="formTaking.invalid"
    color="primary"
  >
    Submit
  </button>
</form>

<!--- If the form has been submitted --->
<div
  *ngIf="success"
  id="extraSpace"
  fxLayout="column"
  fxLayoutAlign="end center"
>
  <h1>Your Answers have been recorded!</h1>

  <h1>Your score: {{ counter }} out of {{ total }}</h1>

  <div *ngIf="tobegraded">
    <h3>*Some Answers yet to be graded*</h3>
    ({{ essays }} essay question(s) & {{ shorts }} short response question(s))
  </div>

  <button routerLink="" mat-raised-button color="primary">
    Return To Home
  </button>
</div>
