<form [formGroup]="myForm" fxLayout= "column" fxLayoutAlign="center">

    <mat-form-field>
        <input matInput placeholder="Enter Test/Survey Name" formControlName="email">

        <mat-error *ngIf="email.pristine">
            Please Enter a Test/Survey Name
        </mat-error>

    </mat-form-field>

    <div formArrayName="phones">

        <div *ngFor ="let phone of phoneForms.controls; let i=index" [formGroupName]="i" fxLayout="column" fxLayoutAlign="space-around center">

            <mat-card>
                <div fxLayout="column" fxLayoutAlign="space-between start">
                    <mat-card-content>
                        <h3 class="mat-headline">Question #{{i+1}}</h3>
                    </mat-card-content>
                    
                    <mat-form-field>
                        <input matInput placeholder="Question" formControlName="question">
                    </mat-form-field>
        
        
                    <mat-form-field>
                        <mat-label> Question Type </mat-label>
                        <mat-select value="questionType" (selectionChange)= "selectqType($event)" value="answerType"> 
                            <mat-option value = "mc">Multiple Choice</mat-option>
                            <mat-option value = "sa">Short Answer</mat-option>
                            <mat-option value = "ea">Essay Answer</mat-option>
                            <mat-option value = "mmc">Multiple Multiple Choice</mat-option>
                            <mat-option value = "tf">True/False</mat-option>
                            <mat-option value = "ra">Ranking</mat-option>
                            <mat-option value = "ma">Matching</mat-option>
                        </mat-select>
                    </mat-form-field>

                        <mat-form-field>
                            <input MatInput [innerHTML]="htmlstring">
                        </mat-form-field>

                    <button mat-raised-button color="warn" (click)="deletePhone(i)">Delete</button>
            
    
                </div>
            </mat-card>
            <br>


            
        </div>
    </div>

    <br>
    <button mat-raised-button (click)="addPhone()">Add Question</button>

    <br>
    <button mat-raised-button [disabled]="myForm.invalid" color=primary>Submit</button>

</form>