<form [formGroup]="myForm" *ngIf="!success"  fxLayout= "column" fxLayoutAlign="center" id="padding">

    <mat-form-field>
        <input matInput placeholder="Enter Test/Survey Name" formControlName="testTitle">

        <mat-error *ngIf="testTitle.pristine">
            Please Enter a Test/Survey Name
        </mat-error>

    </mat-form-field>

    <mat-form-field>
        <mat-label> Are you creating a Test or Survey? </mat-label>
            <mat-select value="formType" formControlName="formTypeSelection"> 
                <mat-option value = "test">Test</mat-option>
                <mat-option value = "survey">Survey</mat-option>
            </mat-select>
        <mat-error *ngIf="formTypeSelection.pristine">
            Please Choose an Option: Test or Survey
        </mat-error>
    
    </mat-form-field>

    <div formArrayName="questions">

        <div *ngFor ="let question of questionForms.controls; let i=index" [formGroupName]="i" fxLayout="column" fxLayoutAlign="space-around center">

            <mat-card>
                <div fxLayout="column" fxLayoutAlign="space-between start">
                    <mat-card-content>
                        <h3 class="mat-headline">Question #{{i+1}}</h3>
                    </mat-card-content>
                    
                    <mat-form-field>
                        <input matInput placeholder="Question" formControlName="questionTitle">
                    </mat-form-field>
        
        
                    <mat-form-field>
                        <mat-label> Question Type </mat-label>
                        <mat-select value="answerType" formControlName="questionType"> 
                            <mat-option value = "sa">Short Answer</mat-option>
                            <mat-option value = "mc">Multiple Choice</mat-option>
                            <mat-option value = "ea">Essay Answer</mat-option>
                            <mat-option value = "mmc">Multiple Multiple Choice</mat-option>
                            <mat-option value = "tf">True/False</mat-option>
                            <mat-option value = "ra">Ranking</mat-option>
                            <mat-option value = "ma">Matching</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngIf= "question.value.questionType  === 'mc'" >
                    <mat-radio-group class = example-radio-group  aria-label="mcchoices">
                        <mat-radio-button class= example-radio-button color = primary value="mc1">
                            <mat-form-field>
                                <input matInput placeholder="Multiple Choice Option 1">
                            </mat-form-field>
                    </mat-radio-button>                    
                    <mat-radio-button class= example-radio-button color = primary value="mc2">
                            <mat-form-field>
                                <input matInput placeholder="Multiple Choice Option 2">
                            </mat-form-field>
                    </mat-radio-button>          
                    <mat-radio-button class= example-radio-button color = primary value="mc3">
                            <mat-form-field>
                                <input matInput placeholder="Multiple Choice Option 3">
                            </mat-form-field>
                    </mat-radio-button>          
                    <mat-radio-button class= example-radio-button  color = primary value="mc4">
                            <mat-form-field>
                                <input matInput placeholder="Multiple Choice Option 4">
                            </mat-form-field>
                    </mat-radio-button>          
                </mat-radio-group>
                </div>

                <div *ngIf= "question.value.questionType === 'sa'" >
                    <mat-form-field>
                        <input matInput placeholder="Short Answer" formControlName="questionAnswer">
                    </mat-form-field>
                </div>

                <div *ngIf= "question.value.questionType === 'ea'" >
                    <mat-form-field>
                        <input matInput placeholder="Essay Answer" formControlName="questionAnswer">
                    </mat-form-field>
                </div>

                <div *ngIf= "question.value.questionType  === 'mmc'" >
                    <mat-checkbox>
                        <mat-form-field>
                            <input matInput placeholder="Multiple Choice Option 1">
                        </mat-form-field>
                    </mat-checkbox>
                    <mat-checkbox>
                        <mat-form-field>
                            <input matInput placeholder="Multiple Choice Option 2">
                        </mat-form-field>
                    </mat-checkbox>
                    <mat-checkbox>
                        <mat-form-field>
                            <input matInput placeholder="Multiple Choice Option 3">
                        </mat-form-field>
                    </mat-checkbox>
                    <mat-checkbox>
                        <mat-form-field>
                            <input matInput placeholder="Multiple Choice Option 4">
                        </mat-form-field>
                    </mat-checkbox>
                </div>

                <div *ngIf= "question.value.questionType  === 'tf'" >
                    <mat-radio-group  aria-label="True or False">
                        <mat-radio-button color = primary value="True">
                        True
                    </mat-radio-button>
                    <mat-radio-button color = primary value="False">
                        False
                    </mat-radio-button>
                        </mat-radio-group>
                </div>

                    <div *ngIf= "question.value.questionType  === 'ra'" >
                        <mat-form-field>
                            <input matInput placeholder="Ranking Answer" formControlName="questionAnswer">
                        </mat-form-field>
                    </div>

                    <div *ngIf= "question.value.questionType  === 'ma'" >
                        <mat-form-field>
                            <input matInput placeholder="Matching Answer" formControlName="questionAnswer">
                        </mat-form-field>
                    </div>
                        

                    <button mat-raised-button color=warn (click)="deleteQuestion(i)">Delete</button>
            
    
                </div>
            </mat-card>
            <br>


            
        </div>
    </div>

    <br>
    <button mat-raised-button (click)="addQuestion()">Add Question</button>

    <br>
    <button mat-raised-button type = "submit" (click)="submitHandler()" [disabled]="myForm.invalid" color=primary>Submit</button>

</form>


<div *ngIf="success" id = "extraSpace" fxLayout="column" fxLayoutAlign="end center">

    <h1>Your Test/Survey Has Been Created!</h1>
    <button routerLink="" mat-raised-button color = primary>Return To Home</button>
</div>  