
mat-form-field {
    width: 100%;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

mat-card{
    width: 100%;
}

#padding{
    padding-bottom: 15%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  mat-radio-button{
    margin-right: 12px;
    margin-bottom: 6px;
  }
  