<div class="content">
    <mat-selection-list #items>
        <mat-list-option *ngFor="let item of items$ | async" [value]="item.id">
            {{item.name}}
        </mat-list-option>
    </mat-selection-list>
    <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="new-item">
            <mat-form-field>
                <mat-label>New question</mat-label>
                <input matInput #question required>
            </mat-form-field>
             <mat-form-field>
                <mat-label>Answer</mat-label>
                <input matInput #answer required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Question Type</mat-label>
                <select matNativeControl #type required>
                <mat-label>Question Type</mat-label>
                    <option value="mc">Multiple Choice</option>
                    <option value="tf">True/False</option>
                    <option value="sa">Short Answer</option>
                    <option value="ea">Essay Answer</option>
                    <option value="ma">Matching</option>
                    <option value="ra">Ranking</option>
                    <option value="mmc">Multiple Multiple Choice</option>
                    <option value="fi">Fill In</option>
                </select>
            </mat-form-field>
            
            
            <button 
                mat-raised-button 
                (click)="addItem(question.value)"
                (click)="addItem(answer.value)"
                (click)="addItem(type.value)">
                Add
            </button>
        </div>
        <button 
            mat-raised-button 
            *ngIf="items.selectedOptions.selected.length > 0"
            (click)="removeItems(items.selectedOptions.selected)">
            Complete Selected
        </button>
    </div>
</div>