mat-toolbar {
    position: fixed;
  }
  
  #title {
    color: #47525E;
    font-size: 300%;
  }
  
  #title_image {
    width: 50%;
    height: auto;
  }


.header {
    width: 200%;
    
    .info {
      margin-left: 1rem;

      .display-name {
        margin-bottom: 0;
      }
    }

    img {
      height: 4rem;
      border-radius: 50%;
    }
  }

  mat-divider {
    margin: 1rem 0;
  }